# PostgreSQL
POSTGRES_DB=fraud_db
POSTGRES_USER=your_user
POSTGRES_PASSWORD=your_password

# Kafka
KAFKA_BROKER=localhost:9092
KAFKA_TOPIC=transactions

# Spark worker resources
SPARK_WORKER_MEMORY=2g
SPARK_WORKER_CORES=2

# Producer
CSV_PATH=PS_20174392719_1491204439457_log.csv
STREAM_RATE=500
